.messageheader td
{
border-bottom-style1:solid;
border-bottom-width1:1px;
font-size:12;
color:black;
padding:1
}

.infobar
{
background-color:#F0FFC9;
font-size:11;
color:Gray;
font-style:italic
}

.history
{
border:0;
border-top-style:solid;
border-top-width:1px;
font-size:11;
color:black;
background-color:#ECcc8b;
margin:0;
padding:2
}

td.label
{
width:8%;
background-color1:#F9EED0;
font-size:11;
color:Gray;
font-style:italic
}

.attachLink
{
    cursor:hand;
    text-decoration:underline
}
.attachContent
{
    cursor:hand;
}

body.X
{
direction:rtl;
font-family:Tahoma;
font-size:11; 
margin:0;
}

table.X
{ 
margin-bottom:5;
border:0;
font-size:11;
}

img.X
{
vertical-align:middle;
cursor:hand;
}

.header
{
color:gray;
background-color:#F9EED0;
cursor:hand;
}

.detail
{
font-style:italic;
}

.titleHeader
{
color1:#AA831A;
font-size:13; 
display:none
}

.sender
{
color:Black ;
}
.receiver
{
color:Black ;
}

.date
{
color:Black ;
}

.title
{
color: Black ;
}
.body
{
color: black;
font-size:11; 
font-style:normal;
border:0
}

att
{
color:black;
cursor:hand;
text-decoration: underline;
}

